<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">
   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://localhost:3306/test_spring?serverTimezone=GMT%2B8&amp;useSSL=false"/>
      <property name="username" value="root"/>
      <property name="password" value="822122cy"/>

   </bean>
   <bean id="StudentJDBCTemplate" class="dao.StudentJDBCTemplate">
      <property name="dataSource" ref="dataSource"></property>
   </bean>
   <bean id="StudentJDBCTemplateNew" class="dao.StudentJDBCTemplateNew">
      <property name="dataSource" ref="dataSource"></property>
   </bean>
   <bean id="helloWorld" class="com.tutorialspoint.HelloWorld">
      <property name="message" value="I love cy!"/>
   </bean>


   <!-- <context:annotation-config></context:annotation-config>
    <aop:aspectj-autoproxy/>
<aop:config>
    <aop:aspect id="log" ref="logging">
    <aop:pointcut id="selecctAll" expression="execution(* com.tutorialspoint.*.*(..))"/>
        <aop:before pointcut-ref="selecctAll" method="beforeAdvice"/>
        <aop:after pointcut-ref="selecctAll" method="afterAdvice"/>
        <aop:after-returning pointcut-ref="selecctAll" returning="retVal" method="afterReturningAdvice"/>
        <aop:after-throwing pointcut-ref="selecctAll" throwing="ex" method="afterThrowingAdvice"/>
    </aop:aspect>
</aop:config>
    <bean id="logging2" class="com.tutorialspoint.Logging2"></bean>
<bean id="cStudent" class="com.tutorialspoint.CStudent">
    <property name="name" value="yuandaqiang"></property>
    <property name="age" value="17"></property>
</bean>
<bean id="logging" class="com.tutorialspoint.Logging"></bean>



-->

  <!--  <bean id="start" class="handle.startEventHandler"></bean>
    <bean id="stop" class="handle.stopEventHandler"></bean>-->
<!--<bean id="student1" class="bean.Student">
    <property name="age" value="17"></property>
    <property name="name" value="yuandaqiang"></property>
</bean>
   <bean id="CustomEventPublisher" class="handle.CustomEventPublisher"></bean>
    <bean id="CustomEventHandler" class="handle.CustomEventHandler"></bean>
    <bean id="helloWorld" class="com.tutorialspoint.HelloWorld" init-method="init" destroy-method="myDestroy">
        <property name="message" value="message!"/>
    </bean>

    <bean id="Profile" class="bean.Profile">

    </bean>
<bean id="student2" class="bean.Student">
    <property name="age" value="18"></property>
    <property name="name" value="chenying"></property>
</bean>-->

    <!--constructor-arg name="spellChecker" ref="spellCheckeroo"></constructor-arg-->

   <!-- <bean id="address1" class="java.lang.String"  ></bean>
    <bean id="spellCheckeroo" class="text.SpellChecker"></bean>

    <context:annotation-config/>
    <bean id="TextEditor" class="text.TextEditor" >




<property name="list">
    <list>
        <value>China</value>
    </list>
</property>
        <property name="set">
            <set>
                <value>China</value>
                <value>US</value>
                <value>UN</value>
            </set>

        </property>
        <property name="map">
            <map>
                <entry key="I" value="China"></entry>
                <entry key="H" value="US"></entry>
                <entry key="S" value="UN"></entry>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="I">China</prop>
                <prop key="H">US</prop>
                <prop key="S">UN</prop>
            </props>
        </property>
</bean>


    <bean id="TextEditor2" class="text.TextEditor2" autowire="byType">
<property name="string" value="textE2 string"></property>
    </bean>



    <bean id="helloChina" class="com.tutorialspoint.HelloChina" parent="helloWorld">
        <property name="messageNew" value="messageNew!"></property>
        <property name="messageNew2" value="messageNew2"></property>
    </bean>
    <bean class="com.tutorialspoint.InitHelloWorld"></bean>
<bean id="injectService" class="injectDAO.InjectDaoServiceImpl">
    <constructor-arg name="injectD" ref="injectDAO"></constructor-arg>
    <constructor-arg name="string" ref="javaString" ></constructor-arg>
    <property name="string" ref="javaString"></property>
</bean>
<bean id="injectDAO" class="injectDAO.InjectDaoImpl"></bean>
<bean id="javaString" class="injectDAO.MyString"></bean>-->
</beans>